/*texto*/
.tx{
	font-size: 150%;
}
textarea{
	width: 100%;
}
/*fijo*/
 
/**/
*{
	box-sizing: border-box;
}
ul li{
	cursor: pointer;
	position: relative;
	transition: 0.2s;
}
ul li:nth-child(odd){
	background: #90EE90;
}
/*MEDIA QUERIES*/
/*peque para galaxy*/
@media (min-width: 360px) and (max-width: 500px) {
    .gridmenu {
        width:100%;
    }

    .gridmain {
        width:100%;
    }

    .gridright {
        width:100%;
    }
    textarea{
	width: 199%;
	margin-left: 11%!important;
	}
	ul li{
		width: 210%;
	}
}
/*506x656*/
@media (min-width: 506px) and (max-width: 656px) {
    .gridmenu {
        width:100%;
    }

    .gridmain {
        width:100%;
    }

    .gridright {
        width:100%;
    }
    textarea{
	width: 212%;
	margin-left: 2%!important;
	}
	ul li{
		width: 215%;
	}
}